spring:
  datasource:
    url: ${DB_URL:jdbc:mysql://127.0.0.1:3306/inventory_db?allowPublicKeyRetrieval=true&amp;useSSL=false}
    username: ${DB_USERNAME:inventoryuser}
    password: ${DB_PASSWORD:inventorypassword}
  
  sql:
    init:
      mode: always
      data-locations: classpath:db/products.sql
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

server:
  port: ${SERVER_PORT:8080}